<br>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text"  formControlName="name" id="name">
  <label for="instructions">instructions:</label>
  <input type="text" formControlName="instructions" id="instructions">
  <table id="TableValues" style="width:100%">
    <tr *ngFor="let ingrediente of ingredientsList">
      <th>
        {{ ingrediente.name }}
      </th>
      <th>
        <input type="number" class="form-control" id="instructions">
      </th>
    </tr>
  </table>
  <button type="submit" class="btn btn-success">Submit</button>
</form>