<div class="example-button-container">
  <a class="button fancy-button" (click)="ping()">
    <i class="material-icons">podcasts</i>Ping
  </a>
</div>
<div class="example-button-container">
  <a class="button fancy-button" (click)="clear()">
    <i class="material-icons">clear_all</i>Clear
  </a>
</div>
<div class="example-button-container">
  <a class="button fancy-button" (click)="OptimizeWaste()">
    <i class="material-icons">sort</i>OptimizeWaste
  </a>
</div>
<div class="example-button-container">
  <a class="button fancy-button" (click)="OptimizeCount()">
    <i class="material-icons">sort</i>OptimizeCount
  </a>
</div>
<div class="example-button-container">
  <a class="button fancy-button" (click)="CountByRecipe()">
    <i class="material-icons">sort</i>CountByRecipe
  </a>
</div>